body{
    align-items: center;
    /* background-image: url("../images/site/wallpaper.jpg"); */
    background-repeat: no-repeat;
    background-color: #5c8ec7;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.asas {
    width: 250px !important;
    height: 250px !important;
    background-image: url("../images/site/pkmback.png");
    margin: 5pt;
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

section.left {
    float:left;
}

.row{
    width: 800px !important;
}

html,
body {
    height: 100%;
}

section#sTop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

section.s1{
    /* background: rgba(0, 119, 255, 0.4); */
    border-radius: 50pt;
    width: auto;
    height: auto;
    padding: 20px;
}

section.s3 {
    height: auto;
    margin: 20pt;
    text-align: center;
    color: black;
    text-align: center;
}

.indent-1{
    background-image: url("../images/site/wallpaper.jpg");
}

span{
    margin: 5pt;
    /* padding: 10pt; */
}

div#EscolhaPk{
    /* padding: 10pt; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#PkTr{
    margin: 10pt;
}