body{
    align-items: center;
    /* background-image: url("../images/site/wallpaper.jpg"); */
    background-repeat: no-repeat;
    background-color: #5c8ec7;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background-image: url("../images/site/wallpaperBody.jpg");
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.asas {
    width: 250px !important;
    height: 250px !important;
    background-image: url("../images/site/pkmback.png");
    background-repeat: no-repeat;
    margin: 15pt;
    /* text-align: center; */
    /* padding: 70px; */
    /* justify-content: center; */
    /* align-items: center; */
}

section.left {
    float:left;
}

.row{
    width: 900px !important;
}

html,
body {
    height: 100%;
}

section#sTop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

section.s1{
    /* background: rgba(0, 119, 255, 0.4); */
    border-radius: 50pt;
    width: auto;
    height: auto;
    padding: 20px;
}

section.s3 {
    height: auto;
    margin: 20pt;
    text-align: center;
    color: black;
    text-align: center;
}

.indent-1{
    background-image: url("../images/site/wallpaper.jpg");
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

span{
    margin: 5pt;
    /* padding: 10pt; */
}

div#EscolhaPk{
    /* padding: 10pt; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 219, 255, 0.527);
    border-radius: 20pt;
}

div#PkTr{
    margin: 10pt;
}

img#pok{
    cursor: pointer;
    cursor: url("../images/site/cursorRemove.png"), pointer, auto;
    /* min-width:100%;
    min-height:100%; */
}

img.small{
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    align-self: center;
    top: +10%;
}

img.medium{
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    align-self: center;
}

img.abig{
    max-height: 300px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    align-self: center;
    top: -6%;
}

img.big{
    max-height: 300px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    align-self: center;
    top: -10%;
}

a.gridpkm{
    margin: 5px;
}

input{
    outline: none;
}

h2{
    margin-top: 25pt;
    font: bold 28px consolas;
    color: rgb(16, 15, 49);
}

label{
    margin-left: 5px;
    margin-right: 5px;
}

p{
    text-align: left;
    height: auto;
    width: 95%;
    font-weight: bold;
}

div#gridEPK{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}